h3 {
  position: absolute;
  width: 100%;
  height: 38px;
  left: 0px;
  top: 0px;
  padding: 0;
  background: #1cd1b0;
  margin: 0;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.testeo {
  position: absolute;
  width: 111px;
  height: 18px;
  left: 10px;
  font-weight: 400;
  top: 5px;
}

h1 {
  box-sizing: border-box;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 101px;
  left: 0px;

  background: #00669f;
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

.testeo2 {
  position: absolute;
  width: 128px;
  height: 47px;
  left: 28px;
  top: 30px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
}

section {
  display: flex;
  justify-content: space-around;
  padding-top: 250px;
  padding-bottom: 500px;
  border-radius: 16px 16px 0px 0px;
}

footer {
  position: absolute;
  width: 100%;
  font-weight: 51px;
  height: 51px;
  left: 0px;
  bottom: 0;
  background: #00669f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff9f9;
}

.testeo3 {
  position: absolute;
  width: 337px;
  height: 19px;
  left: 16px;
  top: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.perfiles {
  position: absolute;
  border-radius: 70px;
  top: -70px;
  left: 85px;
  z-index: 300;
}

p {
  position: relative;
  top: 50px;
}

.subtitulos {
  position: absolute;
  width: 300px;
  height: 336px;
  background-color: #f3f3f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  bottom: -267px;
  z-index: 400;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  text-align: center;

  color: #000000;
}

.corazon {
  position: absolute;
  padding-left: 20px;
  padding-top: 15px;
}

.descripcion {
  position: absolute;
  font-family: "Roboto";
  text-align: justify;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  width: 267px;
  right: 10px;
}

.button {
  position: absolute;
  width: 128.78px;
  height: 45px;

  background: #00669f;
  z-index: 500;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #f3f3f3;
  text-align: center;
  top: 260px;
  right: 81px;
}

.ver {
  position: absolute;
  right: 40px;
  top: 12px;
}

@media (max-width: 768px) {
  section {
    flex-direction: column;
    height:200vh;
    align-items: center;
    align-content: space-around;
  }
}
